
*{
	margin:0;
	padding:0;
	font-family:'Open Sans',sans-serif;
	box-sizing:border-box;
}

/* grid system*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.row::after {
    content: "";
    clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
	
}
.container{
		padding-left:15px;
		padding-right:15px;
		margin-left:auto;
		margin-right:auto;
}
.img-responsive{
    max-width: 100%;
    height: auto;
}
/* grid system*/

body{
    background-color: #fcfcfc;
}


.logo-banner{
    background: linear-gradient(45deg,#0c5195, rgb(119, 182, 240));
    position: -webkit-sticky;
    position: sticky;
    top: 0px;

}
.logo-banner img{
    width: 160px;
    height: auto;
    padding: 6px;
    margin-left: 80px;
}
.letsjoin-font{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: italic;
    color: white;
    padding: 4px;
    margin-top: 15px;
}
@media(max-width:768px){
    .logo-banner img{
        width: 130px;
        margin-left: 10px;
    }
    .letsjoin-font{
        margin-top: 0px;
    }
}



.banner img{
    width: 100%;
    
}


.me{
    padding: 0px 30px;
    margin-right: -15px;
}
.me img{
    width: 100%;
    border-radius:50%;
    border: 4px solid #ffff;
    box-shadow: 0px 1px 15px rgb(204, 202, 202);
}
.img-info{
    margin-top: 8px;
}
@media(max-width:768px){
    .me img{
        border: 5px solid #ffff;
        box-shadow: 0px 1px 10px rgb(204, 202, 202);

    }
}







/*-----------------------name with about-------------*/
.name-info{
    padding: 80px 0px;
    
}
.topic{
    color: #0c5195;
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    padding: 15px;
    border-bottom: 1px solid black;
}
.about-me{
    padding: 15px;
}
.aboutme-btn{
    padding: 8px 16px;
    background-color: rgb(126, 202, 228);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 16px;
    display: block;
    cursor: pointer;
}
.home-btn{
    margin: 65px 0px 0px 35px;
}
.git-btn{
    color: #2b2839;
    background: none;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 7px 14px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 16px;
    display: block;
    cursor: pointer;
}
.git-btn:hover{
    box-shadow: 1px 1px 2px grey;
}
.yt-btn{
    padding: 8px 16px;
    background-color: rgb(250, 50, 50);
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
}
.yt-btn:hover{
    box-shadow: 1px 1px 2px grey;
}
.aboutme-btn:hover{
    box-shadow: 1px 1px 2px grey;
}
.aboutme-text{
    color:  #4e4d5e;
    padding: 25px 25px 25px 15px;
    display: none;
    font-family:"Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;

}
.aboutme-text p{
    font-family:"Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    color: #4e4d5e;
    text-align: justify;
}
.aboutme-text .media i{
    padding-right: 15px;
}
.findmehere{
    color:#82bffc;
    padding-bottom: 10px;
}
.collapse-btn{
    padding: 10px 22px;
    background-color: rgb(224, 157, 56);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 16px;
    display: none;
    cursor: pointer;
}
.collapse-btn:hover{
    box-shadow: 1px 1px 2px grey;
}

@media (max-width:768px){
    .me{
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    .me img{
        display: block;
        width: 50%;
        margin: 0px auto;
    }


    .name-info{
        width: 100%;
        padding: 10px;
    }
    .topic{
        font-size: 30px;
        text-align: center;
        padding: 10px;
    }
    .aboutme-btn{
        margin: 0px auto;
        box-shadow: 1px 1px 2px grey;

    }
    
    .home-btn{
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 1px 1px 2px grey;

    }
    .collapse-btn{
        box-shadow: 1px 1px 2px grey;

    }
    .yt-btn{
        box-shadow: 1px 1px 2px grey;

    }
    .git-btn{
        box-shadow: 1px 1px 2px grey;

    }

}







/*-------------------------------projects post---------------*/
.topic-projects{
    color: rgb(224, 157, 56);
    font-family: Tahoma, sans-serif;
    font-size: 40px;
    padding: 35px 35px 25px 35px;
    text-align: center;
    margin: 0px auto;
    border-bottom: 1px solid black;
}

.main-projects{
    padding: 0px 0px;
    
}
.projects-posts{
    margin: 30px 20px 0px 20px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 1px 2px 6px rgb(189, 186, 186);
    background-color: #ffff;
    
}

.projects-posts img{
    width: auto;
    height: 200px;
    display: block;
    margin: 0px auto;
}


.projects-posts h3{
    padding: 30px 20px 15px 20px;
    color: rgb(113, 202, 231);
}
.projects-posts h4{
    color: #0c5195;
    background-color: white;
    border: 1px solid #0c5195;
    cursor: pointer;
    border-radius: 16px;
    padding: 5px;
    width: 40%;
    margin: 0px auto;
}

.projects-posts h4:hover{
    background-color: #0c5195;
    color: white;
}

.projects-posts p{
    color: #605e74;
    padding: 10px;
    font-family:Tahoma, sans-serif;
    font-style: italic;
}

@media (max-width:768px){
    .topic-projects{
        font-size: 25px;
        padding: 35px 35px 25px 35px;
    }
    .main-projects .col-4{
        width: 100%;
    }
    .projects-posts{
        margin: 10px;
        box-shadow: 1px 2px 5px rgb(189, 186, 186);

    }
    .projects-posts img{
        width: auto;
        height: 100px;
    }
    .projects-posts h4{
        width: 30%;
        font-size: 10px;
        background-color: #0c5195;
        color: white;
        padding: 10px 0px;
        
    }
}
@media(max-width:1025px){
    .projects-posts{
        margin: 30px 2px 0px 2px;

    }
    .main-projects{
        padding: 0px 10px;
    }
    .projects-posts img{
        width: auto;
        height: 100px;
    }
    .projects-posts h4{
        width: 40%;
        font-size: 10px;
        background-color: #0c5195;
        color: white;
        padding: 10px 0px;
    }
}


/*   ----------------------------------- form ------- */
.form{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

}
.form ul{
    padding-bottom: 10px;
}
.form li{
    font-weight: bold;
    color: #4b4a5e;
}
input[type=text]{
    display: block;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 8px;
    border: 2px solid #0c5195;
}
textarea{
    margin: 5px 0px;
    padding: 10px;
    border: 2px solid #0c5195;
    color: #2b2839;
}
input[type=submit]{
    display: block;
    margin: 10px 0px;
    padding: 10px 20px;
    background-color: #0c5195;
    color: white;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #072f57;
}

@media(max-width:768px){
    input[type=text]{
        width: 236px;
    }
}




/*   ----------------------------------- footer ------- */

footer{
    display: flex;
    justify-content: space-around;
    padding: 25px 15px;
    background-color: #82bffc;
    margin-top: 60px;
}
@media(max-width:768px){
    footer{
        display: block;
        padding: 25px;
    }
}
footer h2{
    color:white;
    padding: 20px 0px;
}
footer p{
    padding: 5px 0px;
    
}
.contact p{
    color: #4b4a5e;
}
.courses-foot p:hover{
    text-decoration: underline;
    cursor: pointer;
}
footer p i{
    padding-right: 4px;
    color: #2b2839;
}
.media i{
    padding: 5px 5px 5px 0px;
    font-size: 26px;
    cursor: pointer;
}
.copyrights{
    background-color: #0c5195;
    padding: 10px;
    text-align: center;
    color: white;
    font-size:medium ;
}



/*   ----------------------------------- content ------- */

.content iframe{
    display: block;
    margin: 100px auto;
    border:2px solid white;
    padding: 5px;
    box-shadow: 3px 3px 8px gray;

}
@media (max-width:768px){
    .content iframe{
        width: 380px;
        height: 214px;
        padding: 4px;
        border:none;
        margin: 40px auto;

    }
}







/*   ----------------------------------- graphic ------- */

.topic-design p{
    color: rgb(113, 202, 231);
    font-family: Tahoma, sans-serif;
    font-size: 35px;
    padding: 35px 35px 35px 35px;
    text-align: center;
    margin: 0px auto;
    
}


.g-banners{
    margin: 0px 20px;
    
}
.g-banners img{
    width: 100%;
    height: auto;
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 8px gray;
    border:5px solid white;


}

.thumbnails{
    margin: 0px 20px;
}
.thumbnails img{
    margin: 0px 0px;
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 8px gray;

}
@media (max-width:768px){
    .thumbnails .col-6{
        width: 100%;
    }
}

.g-posts img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logo-text{
    font-style: italic;
    text-align: center;
    color: #2b2839;
    padding-top: 6px;
    font-family: Tahoma, sans-serif;
    
}